.home{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 49rem;
  text-align: justify;
  p{
    font-size: 1.2rem;
  }
  .imageWebStorm{
    width: 51rem;
    border-radius: 0.5rem;
  }
}
