.App {
  text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(246,194,195,1) 0%, rgba(246,194,195,1) 38%, rgba(130,202,223,1) 69%, rgba(255,255,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

code{
    background: #2f2f2f;
    color: #f7c2c3;
    border-radius: 3px;
    padding: 2px 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
    color: #143c55;
}

.App-link {
  color: #143c55;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
